<div class="about">
    <h2>About this project.</h2>

    <p>With cctvwatch we want to provide a platform to track CCTV cameras.<br />You can inform yourself about locations of CCTV cameras and you are able to add new ones.<br />
	
	If you want to contribute to this project, check out the public repos:</p>


	<a class="btn frontend" href="http://github.com/moklick/cctvwatch"><i class="fa fa-github"></i>Frontend</a>

	<a class="btn backend" href="http://github.com/moklick/cctvwatch-api"><i class="fa fa-github"></i>Backend / API</a>
		
	<hr>
		
	<button class="btn close-btn"><i class="fa fa-times"></i>Close</a></button>

</div>
