<header>
    <button class="menu-button menu-toggle"><i class="fa fa-bars"></i>
    </button>
    <h1>cctvwatch</h1>
    <svg id="cctvLogo" version="1.1" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"x="0px" y="0px" width="150px" height="100px" viewBox="0 0 150 100" xml:space="preserve">
        <path d="M92.769,68.169c3.171,0,5.892,1.91,7.086,4.64h31.51v-3.351c0-1.139,0.923-2.062,2.062-2.062h6.187c0.025,0,0.049,0.007,0.074,0.007V53.217H150v46.404h-10.312V85.434c-0.025,0.001-0.048,0.007-0.074,0.007h-6.187c-1.139,0-2.062-0.923-2.062-2.062v-3.351H99.303c-1.371,2.166-3.781,3.609-6.534,3.609c-4.271,0-7.734-3.463-7.734-7.734C85.035,71.632,88.497,68.169,92.769,68.169z"/>
        <path d="M36.053,22.023v-2.578h5.156V13h82.496v28.358h-21.913v2.062c0,1.139-0.923,2.062-2.062,2.062h-3.351v30.42h-7.218v-30.42h-3.351c-1.139,0-2.062-0.923-2.062-2.062v-2.062H41.209v-6.445h-5.156v-2.578h-4.125V22.023H36.053z">
            <animateTransform id="logoAnim1" calcMode="spline" keySplines="0.5 0 0.5 1" keyTimes="0;1" begin="0s;logoAnim2.end" attributeName="transform" type="rotate" from="6 93 76" to="-30 93 76" dur="3s"/>

            <animateTransform id="logoAnim2" calcMode="spline" keySplines="0.5 0 0.5 1" keyTimes="0;1" begin="logoAnim1.end" attributeName="transform" type="rotate" from="-30 93 76" to="6 93 76" dur="5s"/>
        </path>
    </svg>
</header>
<ul class="menu-items">
    <li class="menu-item" data-link="addcam"><i class="fa fa-plus"></i>Add Camera</li>
    <li class="menu-item logged-out-only" data-link="login"><i class="fa fa-sign-in"></i>Login</li>
    <li class="menu-item logged-in-only" data-link="logout"><i class="fa fa-sign-out"></i>Logout</li>
    <li class="menu-item" data-link="about"><i class="fa fa-info"></i>About</li>
</ul>
