/* ==========================================================================
   App Stylesheet
   app.less
   ========================================================================== */


/* Vendor Styles and Setting (bootstrao > variables)
   ======================================================================== */

/* TODO: Fix this crappy import */   
@import (less) "../bower_components/font-awesome/css/font-awesome.min.css";
@import "leaflet.less";
@import "variables.less";
@import "components/base.less";
@import "components/header.less";
@import "components/map.less";
@import "components/login.less";
@import "components/about.less";
@import "components/details.less";

/* Mixins (User defined mixins)
   ======================================================================== */


/* Components
   ======================================================================== */
@import "components/base.less";
::selection {
	background:@selectionBg;
	color:@selectionCol;
}
::-moz-selection {
	background: #1abc9c;
	color:white;
}
::-webkit-selection {
	background: #1abc9c;
	color:white;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  margin:0;
  padding:0;
 }
 .group:after {
  content: "";
  display: table;
  clear: both;
}
a{
	color: #222;
	text-decoration:none;
}
body,html,.global{
	height:100%;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	color:#222;
	overflow: hidden;
}

.btn{
	background:lighten(#bdc3c7,14%);
	border:none;
	padding:.5em 1em;
	text-align: left;
	font-size:1.3em;
	cursor:pointer;
	border-radius:1px;
}

.btn:hover{
	background:@btnHoverBg;
}

.btn .fa{
	margin-right:.2em;
}

.close-btn{
	cursor:pointer;
	background:@closeBtnBg;
	color:@closeBtnCol;
}

.close-btn:hover{
	background:lighten(@closeBtnBg,5%);
}

#addCamForm {
	background: #001F3F;
	width: 80%;
	top: 80px;
	left: 10%;
	display: none;
	color: #FFF;
	position: absolute;
	padding: 3%;
}
#addCamForm .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background-color: #fff;
}
#addCamForm .info {
	margin-bottom: 30px;
}
#addCamForm .info div {
	width: 100%;
	padding: 5px;
	background-color: #FFF;
	color: #000;
}
#addCamForm input[type="radio"], #addCamForm label {
	margin: 0 10px 0;
}
#markBtn {
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	text-transform: uppercase;
	position: relative;
	background-color: #7FDBFF;
}
#markBtn:hover {
	background-color: #FFF;
}
