.leaflet-bottom{
	z-index:3; /* in order to display the overlay on top the attribution */
}
#map{
	height:100%;
}
.map-overlay{
	position: absolute;
	height:100%;
	background:@overlayBg;
	z-index:8;
	display:none;
	top:0;
	left:0;
	width:100%;
}
.map-overlay.active{
	user-select:none;
	display:block;
}